/*csslint ids: false, universal-selector: false, box-model: false, box-sizing: false*/


/***************************GENERAL********************************/

* {
    box-sizing: border-box;
}

body {
    color: #878787;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.title {
    border-bottom: 2px solid;
    color: white;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .065em;
    line-height: 1.5;
    padding-bottom: 10px;
    text-align: center;
}

.primary-content {
    margin: auto;
    max-width: 900px;
    padding-bottom: 95px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    width: 60%;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    margin: auto;
    max-width: 900px;
    padding: 80px 50px 70px 50px;
    width: 60%;
}

.t-border {
    border-top: 2px solid lightgrey;
}

#main-footer {
    border-bottom: solid 10px orange;
    padding-bottom: 60px;
    padding-top: 60px;
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 auto 1em;
    max-width: 600px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

.main-header {
    background: linear-gradient(lightblue, transparent 90%), linear-gradient(0deg, #fff, transparent), #ffa949 url('../img/mountains.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
    text-align: center;
}

h3 {
    color: #4852c;
    font-size: 20px;
    margin: 0 auto 1em;
    margin-bottom: 1.7em;
    max-width: 600px;
}

h2 {
    font-size: 53px;
    margin-bottom: .5em;
    text-decoration: underline;
}

ul li {
    color: white;
    margin: auto;
    margin-bottom: 5px;
}

a:link {
    color: #ffa949;
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: coral;
}

.wildlife {
    background-color: dimgrey;
    background-image: url('../img/bear.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border-top: 10px solid #ffa949;
    box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, .8);
    /* border-style: solid;
    border-width: 10px 20px;
    border-color: #ffa949*/
    color: white;
    margin: 105px 0 60px;
    /* padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;*/
    padding: 10% 24%;
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

.arrow {
    margin-top: 150px;
    width: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.resorts {
    float: left;
    width: 46.5%;
}

.tips {
    float: right;
    width: 46.5%;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}

li {
    margin-bottom: 10px;
}


/***************************MEDIA QUERIES********************************/

@media (max-width: 1024px) {
    .primary-content {
        width: 90%;
    }
    .secondary-content {
        width: 90%;
    }
    .wildlife {
        margin: 50px 0 20px;
        padding: 10% 12%;
    }
}

@media (max-width: 768px) {
    .primary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .secondary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        border: none;
        font-size: 1.3rem;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .resorts {
        float: none;
        width: 100%;
    }
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {}


/* Navigation Menu - Background */

.navigation {
    background: #111;
    bottom: 0;
    height: 100%;
    left: 0;
    list-style: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}


/* Navigation Menu - List items */

.nav-item {
    /* non-critical appearance styles */
    border-bottom: 1px solid #000;
    border-top: 1px solid #111;
    margin-right: 6000px;
    width: 200px;
}

.nav-item a {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    color: white;
    display: block;
    font-size: 1.2em;
    padding: 1em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    color: grey;
}


/* Site Wrapper - Everything that isn't navigation */

.site-wrap {
    background-color: white;
    background-image: linear-gradient(135deg, rgb(254, 255, 255) 0%, rgb(221, 241, 249) 35%, rgb(160, 216, 239) 100%);
    background-size: 200%;
    bottom: 100%;
    left: 0;
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    z-index: 1;
    /* non-critical apperance styles */
}


/* Nav Trigger */

.nav-trigger {
    /* critical styles - hide the checkbox input */
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

label[for="nav-trigger"] {
    background-image: url("../img/menu-alt-256.png");
    background-size: contain;
    cursor: pointer;
    height: 30px;
    left: 15px;
    /* critical positioning styles */
    position: fixed;
    top: 15px;
    /* non-critical apperance styles */
    width: 30px;
    z-index: 2;
}


/* Make the Magic Happen */

.nav-trigger + label,
.site-wrap {
    transition: left 0.2s;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    left: 200px;
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
}


/* Additional non-critical styles */

p {
    margin: 0 auto 1em;
    max-width: 600px;
}

code {
    background: #ddd;
    padding: 2px;
}


/* Micro reset */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

#wrapper {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 5%;
}

#contact_form {
    text-align: center;
}

#gen {
    font-size: 50px;
    text-align: center;
}

#genr {
    font-size: 50px;
    padding: 50px;
    text-align: center;
}

.contact {
    text-align: center;
}

#ct {
    background-image: url('../img/Emerald_Bay.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aa {
    color: white;
}

#pie {
    color: white;
    text-align: center;
}

#aaa {
    color: white;
    font-size: 25px;
    margin: 47.9%;
}

#wl {
    background-image: url('../img/animal-bear-stunning-14302023508.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#dan {
    color: black;
}

#copp {
    color: white;
    font-size: 38px;
    padding: 40px;
    text-align: center;
}

#huge {
    color: white;
    font-size: 35px;
    text-align: center;
}

h4 {
    padding: 40px;
}

#aaaa {
    color: white;
    font-size: 25px;
    margin: 46.5%;
}

#location {
    background-color: black;
}

#loco {
    margin-left: 655px;
}

#ugh {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}